/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.wrapper-show {
  background-color:#EEEEEE;
  height:400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.wrapper-white {
  background-color:white;
  border-radius: 5px;
  min-height:348px;
  padding:15px;
}

.little-padded {
  margin-top:15px;
  margin-bottom:30px;
}
