a.btn-red-cassed {
  background-color:#F5515F;
  color:white;
  padding:15px;
  text-decoration: none;
  border-radius: 2px;
  margin-top: 20px;
}

a.btn-red-cassed:hover {
  text-decoration: none;
}
